/* Kacperek */
.id-5919478 > .badge-box > i.bdg {
    background-image: url("http://i.imgur.com/O6uFSMU.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-9346793 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("http://i.imgur.com/O6uFSMU.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
/* Vakosss */
.id-5375691 > .badge-box > i.bdg {
    background-image: url("http://i.imgur.com/qOP2EUr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#user-rollover.id-5375691 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("http://i.imgur.com/qOP2EUr.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

